{% load i18n %}
<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>{% trans "Example Quiz Website" %} | {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">

  <!-- styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar shadow navbar-expand-lg navbar-light bg-light" style="border-bottom: 4px solid rgb(0,152,216);">
    <a class="navbar-brand-large" href="{% url 'index' %}">My Evaluator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav rm-auto">
        {% if user.is_authenticated %}
        <!-- <li class="nav-tem" style="color:gray">
          <a href="{% url 'quiz_index' %}" class="nav-link">Quizes</a>
        </li>
        <li class="nav-tem" style="color:gray">
            <a href="{% url 'quiz_progress' %}" class="nav-link">Progress</a>
          </li> -->
        {% endif %}

      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <p class="nav-link">Welcome, {{ user.username }}</p>
        </li>
        <li class="nav-item ">
          {% if user.is_authenticated %}
          <a class="nav-link btn btn-primary" href="{% url 'logout' %}"><span style="color: white;">logout</span></a>
          {% else %}
          <a class="nav-link btn btn-secondary" href="{% url 'login' %}">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>


  <!-- Before the quiz content -->

  <div>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><sup>&times;</sup></span>
      </button>
      {{message}}
    </div>
    {% endfor %} {% endif %} {% block content %} {% endblock %}

  </div>
 
  <!-- After the quiz content -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</body>

</html>